.hand {
	display: flex;
	max-width: 100vw;
	width: 100%;

	justify-content: center;

	gap: 5px;
}

button {
	display: block;

	cursor: pointer;
	color: #ebdbb2;

	font-size: 20px;
	font-weight: bold;

	width: 100px;
	height: 50px;
}

button:disabled {
	display: none;
}

.btn-container {
	margin: 0 auto;
	display: flex;
	width: 300px;
	justify-content: center;
	gap: 25px;
}

#bet-btn, #hit-btn {
	background-color: #b8bb26 !important;
	border-color: #98971a !important;
}

#stand-btn {
	background-color: #fb4934 !important;
	border-color: #cc241d !important;
}

#restart-btn {
	background-color: #d3869b !important;
	border-color: #b16286 !important;
}
