.card > svg {
	filter: drop-shadow(8px 8px 1px rgb(0 0 0 / 0.4));
}

.card {
	transition: transform 0.15s ease-in-out;
	z-index: 5;
}

.card:hover {
	z-index: 10;
	transform: translateY(-20px);
	position: relative;
}
