:root {
	font-family: 'Oswald', sans-serif;

	background-color: #282828;
	color: #ebdbb2;

	font-synthesis: none;
	text-rendering: optimizeLegibility;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	display: flex;
	align-items: center;
	min-height: 100vh;
}

#app {
	max-width: 1280px;
	margin: 0 auto;
	text-align: center;
}
